// @import 'variables';
// @import 'base';

// Font Variables
$fontSize: 16px;
$lineHeight: 1.5 * $fontSize;
$fontColor: #333;
$fontTitle: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fontContent: 'Merriweather', Georgia, 'Times New Roman', Times, serif;

// Colors
$primaryColor: #2C4770;
$secondaryColor: #2D882D;
$tertiaryColor: #AA3939;
$lightColor: #EEE;
$darkColor: #111;
